<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Me</title>
        <link href="{{static_url('css/bootstrap.min.css')}}" rel="stylesheet" media="screen">
        <link href="{{static_url('css/shire.css')}}" rel="stylesheet" media="screen">

        <link href="{{static_url('css/font-awesome.min.css')}}" type="text/css" rel="stylesheet">
        <link href="{{static_url('css/fontello.1.css')}}" type="text/css" rel="stylesheet">
        <link href="{{static_url('css/webapp.css')}}" type="text/css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{static_url('css/tagsug.css')}}">

        {% block css %}
        {% endblock %}
    </head>
    <body>
    {%if request.user %}
    <div class="main-sidebar">
        <div class="sidebar-header clearfix">
            <a class="btn-navcollapse" data-toggle="collapse" data-target=".nav-collapse"><i class="icon icon-th-large"></i></a>
            <a class="brand" href="/about">About</a>
        </div>
        <div class="nav-collapse">
            <form class="sidebar-form" method="get" action="/search">
                <input type="text" name="q" placeholder="搜索姓名，id，邮箱">
                <i class="icon icon-white icon-search"></i>
            </form>

            <div class="tabbable"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab"><i class="icon-home"></i></a></li>
                    <li><a href="#tab2" data-toggle="tab" onclick="return read_notify('')">
                        {% if n_notify > 0 %}
                        <span id="notify-num" class="important">{{n_notify}}</span>
                        {% else %}
                        <span id="notify-num">0</span>
                        {% endif %}
                    </a></li>
                    <li><a href="#tab3" data-toggle="tab"><img class="avatar-small" src="{{ req.user.picture(default=True) }}"/></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <ul class="unstyled sidebar-nav">
                            {% for href, id, caption in navigation_bar %}
                            {% if active_page == id %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                            <a href="{{ href }}"><i class="icon-"></i> <span>{{caption}}</span><i class="flag"></i></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab2">
                        {% for n in req.card.notifications[:max(5,req.n_notify)] %}
                        {{ utils.card_notify(n) }}
                        {% endfor %}
                    </div>
                    <div class="tab-pane" id="tab3">
                        <ul class="unstyled sidebar-nav">
                            <li><a href="/mine"><i class="icon-user"></i> {{ req.user.name }}</a></li>
                            <li><a href="/make"><i class="icon-edit"></i> 修改资料</a></li>
                            <li><a href="{{ req.logout_url }}"><i class="icon-signout"></i> 登出</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

        <script src="{{static_url('js/jquery-1.10.2.min.js')}}"></script>
        <script src="{{static_url('js/jquery.cookie.js')}}"></script>
        <script src="{{static_url('js/bootstrap.min.js')}}"></script>
        <script src="{{static_url('js/shire.js')}}"></script>

        <script src="{{static_url('js/jquery.masonry.min.js')}}"></script>
        <script src="{{static_url('js/mustache.js')}}"></script>
        <script src="{{static_url('js/tagsug.js')}}"></script>
        <script src="{{static_url('js/webapp.js')}}"></script>

    <script>
    if($('.me-comm')){
        var meCommForm = $('.me-comm');
        var highlighter = meCommForm.find('p.mention-highlighter');
        var meCommTextarea = $('.me-comm-textarea');
        //console.log(meCommTextarea);
        meCommTextarea.tagsug({
            url: 'https://api.douban.com/shuo/in/complete?alt=xd&count={max}&callback=?&word=',
            highlight: true,
            highlighter: highlighter
        });
    }
	var $container = $('.columns');
	
	$container.imagesLoaded( function(){
	  $container.masonry({
	    itemSelector : '.columns-item'
	  });
	});

$("body").delegate(".blog-comment-input", "focus", function()
{
    /*to make this flexible, I'm storing the current width in an attribute*/
    $(this).parent().addClass("blog-comment-action-expand");
});
$("body").delegate(".blog-comment-cancel", "click", function()
{
    /*to make this flexible, I'm storing the current width in an attribute*/
    $(this).parent().removeClass("blog-comment-action-expand");
    $(this).prevAll(".hide").hide();
    $(this).prevAll(".blog-comment-input").val("");
});

	$('.fbtimeline').masonry({itemSelector : '.item',});
    $(".card-tooltip").tooltip();
	</script>

        {% block js %}
        {% endblock %}
    </body>
</html>
