<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{site}}</title>
        <link href="{{static_url('css/bootstrap.min.css')}}" rel="stylesheet" media="screen">
        <link href="{{static_url('css/shire.css')}}" rel="stylesheet" media="screen">

        <link href="{{static_url('css/font-awesome.min.css')}}" type="text/css" rel="stylesheet">
        <link href="{{static_url('css/fontello.1.css')}}" type="text/css" rel="stylesheet">
        <link href="{{static_url('css/webapp.css')}}" type="text/css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{static_url('css/tagsug.css')}}">

        {% block css %}
        {% endblock %}
    </head>
    <body>
    {%if current_user %}
    <div class="main-sidebar">
        <div class="sidebar-header clearfix">
            <a class="btn-navcollapse" data-toggle="collapse" data-target=".nav-collapse"><i class="glyphicon glyphicon-th-large"></i></a>
            <a class="brand" href="/about">About</a>
        </div>
        <div class="nav-collapse">
            <form class="sidebar-form" method="get" action="/search">
                <input type="text" name="q" placeholder="搜索姓名，id，邮箱">
                <i class="glyphicon glyphicon-white glyphicon-search"></i>
            </form>

            <div class="tabbable"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab"><i class="glyphicon glyphicon-home"></i></a></li>
                    <li>
                    <a href="#tab2" data-toggle="tab" onclick="return read_notify('')">
                        <span id="notify-num" {% if notifications %}class="important"{% endif %}>{{notifications|length}}</span>
                    </a>
                    </li>
                    <li><a href="#tab3" data-toggle="tab"><img class="avatar-small" src="{{ current_user.avatar_url}}"/></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <ul class="unstyled sidebar-nav">
                            {% for href, id, caption in navigation_bar %}
                            {% if active_page and active_page == id or request.path == href%}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                            <a href="{{ href }}"><i class="glyphicon-"></i> <span>{{caption}}</span><i class="flag"></i></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab2">
                        {% for n in notifications[] %}
                        {{ utils.card_notify(n) }}
                        {% endfor %}
                    </div>
                    <div class="tab-pane" id="tab3">
                        <ul class="unstyled sidebar-nav">
                            <li><a href="/mine"><i class="glyphicon glyphicon-user"></i> {{ current_user.name }}</a></li>
                            <li><a href="/make"><i class="glyphicon glyphicon-edit"></i> 修改资料</a></li>
                            <li><a href="{{ logout_url }}"><i class="fa fa-sign-out"></i> 登出</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="main-content">
        {% block body %}
        {% endblock %}
    </div>
        <script src="{{static_url('js/jquery-1.11.1.min.js')}}"></script>
        <script src="{{static_url('js/jquery.cookie.js')}}"></script>
        <script src="{{static_url('js/bootstrap.min.js')}}"></script>

        <script src="{{static_url('js/jquery.masonry.min.js')}}"></script>
        <script src="{{static_url('js/mustache.js')}}"></script>
        <script src="{{static_url('js/tagsug.js')}}"></script>
        <script src="{{static_url('js/webapp.js')}}"></script>

        <script src="{{static_url('js/shire.js')}}"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>
